* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
}

h1 {
  font-family: monospace;
  font-size: 3.5rem;
  text-align: center;
  color: whitesmoke;
  padding: 3rem 0;
}

.turn,
.win,
.lose {
  padding: 1.3rem;
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
}

.game-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 2rem;
}

h2 {
  font-family: monospace;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 3rem 1.8rem;
}

.gameBoard {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 100%;
  width: 100px;
  height: 180px;
  margin: 5.5rem 2.5rem;
  list-style: none;
  perspective: 600px;
}

.card__inner {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  position: relative;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 2.8px 2.8px 2.8px 2.8px;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 2.8px 2.8px 2.8px 2.8px;
}

.card__face--front {
  background-image: linear-gradient(
    to bottom right,
    rgb(54, 73, 113),
    rgb(144, 28, 146)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--back {
  background-color: yellow;
  transform: rotateY(180deg);
}

.btn-holder {
  width: 80%;
  padding: 3rem;
}

.game-stats .turns {
  display: flex;
  justify-content: end;
  padding: 3rem;
}

.reset {
  border: none;
  width: 180px;
  height: 38px;
  left: 45%;
  cursor: pointer;
  padding-bottom: 2.7rem 0rem;
  background-color: rgb(54, 54, 148);
  vertical-align: center;
  color: white;
  font-family: monospace;
  font-size: 1.2rem;
  position: absolute;
  border-radius: 3.5px 3.5px 3.5px 3.5px;
}
